<footer class="w-full flex flex-col sm:flex-row sm:justify-center text-lg tracking-wide px-4 sm:px-0 py-16">
  <div class="w-full flex items-center justify-center">
    <span class="block text-center text-gray-800 text-normal font-light">
      &copy; 2023. Все права защищены
    </span>
  </div>
  <div class="h-px sm:h-auto w-1/2 sm:w-px bg-purple-600 mx-auto sm:mx-0 my-5"></div>
  <div class="text-center pl-0 sm:pl-8 py-4 w-full flex items-center justify-center">
    <ul class="list-none">
      <li>
        <a class="text-gray-800 hover:text-purple-600 underline text-normal font-normal" href="/privacy">Политика конфеденциальности</a>
      </li>
    </ul>
  </div>
  <div class="h-px sm:h-auto w-1/2 sm:w-px bg-purple-600 mx-auto sm:mx-0 my-5"></div>
  <div class="w-full flex items-center justify-center">
    <span class="block text-center text-gray-800 text-normal font-light">
      ООО "АОМ"
      <br />
      ОГРН 1201600051355
    </span>
  </div>
</footer>
<div class="">
  <a id="btt"
    class="hidden fixed bottom-0 right-0 mb-4 mr-4 text-gray-200 border border-purple-600 hover:bg-gray-200 hover:text-purple-600 hover:border-browngray no-underline px-6 py-1 bg-purple-600 shadow-md rounded-full"
    href="#top" title="Back to Top">
      <img src="/img/icons8-scroll-up.svg" width="30" height="30" class="block" alt="Scroll up">
    </a>
</div>